@using Microsoft.AspNetCore.Identity
@using SRP.Models

@inject SignInManager<SRPUser> SignInManager
@inject UserManager<SRPUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Mój profil</a>
    </li>
    <li class="nav-item">
        <form class="nav-item" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
            <a id="logout" href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit()" class="nav-link">Wyloguj się</a>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
    </li>
}
</ul>
