@*https://codepen.io/adilsonjr/pen/BmbRJP*@

<div class="schedule-board">
    <div class="calendar-row standard" id="calendarRow">
        <div class="calendar-month">
            <div class="calendar-month-label">
                Nov
            </div>
            <div class="calendar-week">
                <div class="calendar-day">
                    28 Ter
                </div>
                <div class="calendar-day">
                    29 Qua
                </div>
                <div class="calendar-day">
                    30 Qui
                </div>
            </div>
        </div>

        <div class="calendar-month">
            <div class="calendar-month-label">
                Dez
            </div>
            <div class="calendar-week">
                <div class="calendar-day">
                    01 Sex
                </div>
                <div class="calendar-day day-off">
                    02 Sab
                </div>
                <div class="calendar-day day-off">
                    03 Dom
                </div>
                <div class="calendar-day">
                    04 Seg
                </div>
                <div class="calendar-day">
                    05 Ter
                </div>
                <div class="calendar-day">
                    06 Qua
                </div>
                <div class="calendar-day">
                    07 Qui
                </div>
                <div class="calendar-day">
                    08 Sex
                </div>
                <div class="calendar-day day-off">
                    09 Sab
                </div>
                <div class="calendar-day day-off">
                    10 Dom
                </div>
                <div class="calendar-day">
                    11 Seg
                </div>
                <div class="calendar-day">
                    12 Ter
                </div>
                <div class="calendar-day">
                    13 Qua
                </div>
                <div class="calendar-day">
                    14 Qui
                </div>
                <div class="calendar-day">
                    15 Sex
                </div>
                <div class="calendar-day day-off">
                    16 Sab
                </div>
                <div class="calendar-day day-off">
                    17 Dom
                </div>
                <div class="calendar-day">
                    18 Seg
                </div>
                <div class="calendar-day">
                    19 Ter
                </div>
                <div class="calendar-day">
                    20 Qua
                </div>
                <div class="calendar-day">
                    21 Qui
                </div>
                <div class="calendar-day">
                    22 Sex
                </div>
                <div class="calendar-day day-off">
                    23 Sab
                </div>
                <div class="calendar-day day-off">
                    24 Dom
                </div>
                <div class="calendar-day day-off">
                    25 Seg
                </div>
                <div class="calendar-day">
                    26 Ter
                </div>
                <div class="calendar-day">
                    27 Qua
                </div>
                <div class="calendar-day">
                    28 Qui
                </div>
                <div class="calendar-day">
                    29 Sex
                </div>
                <div class="calendar-day">
                    30 Sab
                </div>
                <div class="calendar-day">
                    31 Dom
                </div>
            </div> <!-- /calendar-week -->
        </div>  <!-- /calendar-month -->
    </div> <!-- /calendar-row -->
    <div class="schedule-body">
        <div class="schedule-users" id="scheduleUsers">
            <div class="schedule-user">
                <div class="user-header">
                    <span class="user-pic"></span><!-- /user-pic -->
                    <span class="user-name">
                        Isabela R.<br />
                    </span>
                    <span class="userfunction-title">
                        Diretor de criação
                    </span>
                </div> <!-- /user-header -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [DEV] Incluir o campo X na tela y
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        04/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [DEV] Remove o campo X na tela y
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        08/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [DEV] Desfazer a tela Y
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        08/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
            </div> <!-- /schedule-user -->
            <div class="schedule-user">
                <div class="user-header">
                    <span class="user-pic" style="background: url(https://taskrowprod1pics.blob.core.windows.net/company16274-30x30/2194055353.jpg)"></span><!-- /user-pic -->
                    <span class="user-name">
                        Isac Newton<br />
                    </span>
                    <span class="userfunction-title">
                        Matemático
                    </span>
                </div> <!-- /user-header -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [FIS] Revolucionar a óptica
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        15/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [FIS] Desenvolver a mecaânica clássica
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        20/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title" title="[MAT] Inventar o cálculo infinitesimal, evoluir o trabalho de John Wallis">
                        [MAT] Inventar o cálculo infinitesimal, evoluir o trabalho de John Wallis
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date" title="20/12/2017">
                        20/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [MAT] Dar os primeiros passos na análise numérica
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        20/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
            </div> <!-- /schedule-user -->
            <div class="schedule-user">
                <div class="user-header">
                    <span class="user-pic"></span><!-- /user-pic -->
                    <span class="user-name">
                        Isabela R.<br />
                    </span>
                    <span class="userfunction-title">
                        Diretor de criação
                    </span>
                </div> <!-- /user-header -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [DEV] Incluir o campo X na tela y
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        20/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [DEV] Remove o campo X na tela y
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        20/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [DEV] Desfazer a tela Y
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        20/12
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
            </div> <!-- /schedule-user -->
            <div class="schedule-user">
                <div class="user-header">
                    <span class="user-pic" style="background: url(https://taskrowprod1pics.blob.core.windows.net/company16274-30x30/2194055353.jpg)"></span><!-- /user-pic -->
                    <span class="user-name">
                        Isac Newton<br />
                    </span>
                    <span class="userfunction-title">
                        Matemático
                    </span>
                </div> <!-- /user-header -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [FIS] Revolucionar a óptica
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        28/11
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [FIS] Desenvolver a mecaânica clássica
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        28/11
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [MAT] Inventar o cálculo infinitesimal
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        28/11
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
                <div class="schedule-item">
                    <span class="schedule-item-title">
                        [MAT] Dar os primeiros passos na análise numérica
                    </span> <!-- /schedule-item-title -->
                    <span class="schedule-due-date">
                        28/11
                    </span><!-- /schedule-due-date -->
                </div> <!-- /schedule-item -->
            </div> <!-- /schedule-user -->


        </div> <!-- /schedule-users -->

        <div class="schedule-matrix" id="scheduleMatrix">
            <div class="user-allocation">
                <div class="user-allocation-header">
                </div> <!-- /user-allocation-header -->
                <div class="user-allocation-item">
                    <div class="allocation-item-bar" style="left: calc(10px + (0*71px)); width: calc(4*71px);">
                        <i class="fa fa-info-circle detail-icon" aria-hidden="true" onmouseover="showScheduleInfoBox(this);"></i>
                        <span class="estimation-label" title="Estimativa">32h</span>
                        <span class="due-date-label" title="Prazo">02/12</span>
                    </div> <!-- /allocation-item-bar -->
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                    <div class="allocation-item-bar faded" style="left: calc(10px + (6*71px)); width: calc(3.5*71px);">
                        <i class="fa fa-info-circle detail-icon" aria-hidden="true" onmouseover="showScheduleInfoBox(this);"></i>
                        <span class="estimation-label" title="Estimativa">28h</span>
                        <span class="due-date-label" title="Prazo">07/12</span>
                    </div> <!-- /allocation-item-bar -->
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                    <div class="allocation-item-bar delayed" style="left: calc(10px + (9.5*71px)); width: calc(4.5*71px);">
                        <i class="fa fa-info-circle detail-icon" aria-hidden="true" onmouseover="showScheduleInfoBox(this);"></i>
                        <span class="estimation-label" title="Estimativa">32h</span>
                        <span class="due-date-label" title="Prazo">08/12</span>
                    </div> <!-- /allocation-item-bar -->
                </div> <!-- /user-alocation-item -->
            </div> <!-- /user-allocation -->
            <div class="user-allocation">
                <div class="user-allocation-header">
                    <i class="fa fa-plus fa-1 allocation-icon" aria-hidden="true" style="left: calc(10px + (10*71px) + 50px);" title="Ausência">
                    </i>
                    <i class="fa fa-calendar-o fa-1 allocation-icon" aria-hidden="true" style="left: calc(10px + (13*71px) + 50px);" title="Alocado para cliente XXX">
                    </i>
                </div> <!-- /user-allocation-header -->
                <div class="user-allocation-item">
                    <div class="allocation-item-bar faded" style="left: calc(10px + (8*71px)); width: calc(10*71px);">
                        <i class="fa fa-info-circle detail-icon" aria-hidden="true" onmouseover="showScheduleInfoBox(this);"></i>
                        <span class="estimation-label" title="Estimativa">58h</span>
                        <span class="due-date-label" title="Prazo">15/12</span>
                    </div> <!-- /allocation-item-bar -->
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                </div> <!-- /user-alocation-item -->
            </div> <!-- /user-allocation -->
            <div class="user-allocation">
                <div class="user-allocation-header">
                </div> <!-- /user-allocation-header -->
                <div class="user-allocation-item">
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                </div> <!-- /user-alocation-item -->
            </div> <!-- /user-allocation -->
            <div class="user-allocation">
                <div class="user-allocation-header">
                </div> <!-- /user-allocation-header -->
                <div class="user-allocation-item">
                    <div class="allocation-item-bar" style="left: calc(10px + (0*71px)); width: calc(0.25*71px);">
                        <i class="fa fa-info-circle detail-icon" aria-hidden="true"></i>
                        <span class="estimation-label" title="Estimativa">1h</span>
                        <span class="due-date-label" title="Prazo">28/11</span>
                    </div> <!-- /allocation-item-bar -->
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                    <div class="allocation-item-bar" style="left: calc(10px + (0*71px)); width: calc(0.25*71px);">
                        <i class="fa fa-info-circle detail-icon" aria-hidden="true"></i>
                        <span class="estimation-label" title="Estimativa">1h</span>
                        <span class="due-date-label" title="Prazo">28/11</span>
                    </div> <!-- /allocation-item-bar -->
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                    <div class="allocation-item-bar" style="left: calc(10px + (0.25*71px)); width: calc(0.25*71px);">
                        <i class="fa fa-info-circle detail-icon" aria-hidden="true"></i>
                        <span class="estimation-label" title="Estimativa">1h</span>
                        <span class="due-date-label" title="Prazo">28/11</span>
                    </div> <!-- /allocation-item-bar -->
                </div> <!-- /user-alocation-item -->
                <div class="user-allocation-item">
                    <div class="allocation-item-bar" style="left: calc(10px + (0.25*71px)); width: calc(0.25*71px);">
                        <i class="fa fa-info-circle detail-icon" aria-hidden="true"></i>
                        <span class="estimation-label" title="Estimativa">1h</span>
                        <span class="due-date-label" title="Prazo">28/11</span>
                    </div> <!-- /allocation-item-bar -->
                </div> <!-- /user-alocation-item -->
            </div> <!-- /user-allocation -->
            <div class="grid-overlay" id="gridOverlay">
                <div class="grid-day">
                    <div class="user-day-off" style="top: calc(1*45px + 3*25px); height: calc(35px + 4*25px ); background-position-y: calc(18px - (1*45px + 3*25px));">
                    </div>
                </div>
                <div class="grid-day">
                    <div class="user-day-off" style="top: calc(1*45px + 3*25px); height: calc(35px + 4*25px ); background-position-y: calc(18px - (1*45px + 3*25px));">
                    </div>
                </div>
                <div class="grid-day">
                    <div class="user-day-off" style="top: calc(1*45px + 3*25px); height: calc(35px + 4*25px ); background-position-y: calc(18px - (1*45px + 3*25px));">
                    </div>
                </div>
                <div class="grid-day">
                    <div class="user-day-off" style="top: calc(1*45px + 3*25px); height: calc(35px + 4*25px ); background-position-y: calc(18px - (1*45px + 3*25px));">
                    </div>
                </div>
                <div class="grid-day day-off"></div>
                <div class="grid-day day-off"></div>
                <div class="grid-day">
                    <div class="user-day-off" style="top: calc(2*45px + 7*25px); height: calc(35px + 3*25px ); background-position-y: calc(18px - (2*45px + 7*25px));">
                    </div>
                </div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day">
                    <div class="user-absence" style="top: calc(1*45px + 3*25px); height: calc(35px + 4*25px ); background-position-y: calc(18px - (1*45px + 3*25px));">
                        2h
                    </div>
                </div>
                <div class="grid-day day-off"></div>
                <div class="grid-day day-off"></div>
                <div class="grid-day">
                    <div class="user-allocated" style="top: calc(1*45px + 3*25px); height: calc(35px + 4*25px ); background-position-y: calc(18px - (1*45px + 3*25px));">
                        4h
                    </div>
                </div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day day-off"></div>
                <div class="grid-day day-off"></div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day day-off"></div>
                <div class="grid-day day-off"></div>
                <div class="grid-day day-off"></div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day"></div>
                <div class="grid-day day-off"></div>
                <div class="grid-day day-off"></div>
                <div class="grid-day"></div>
            </div> <!-- /grid-overlay -->
        </div> <!-- /schedule-matrix -->

    </div> <!-- /schedule-body -->
</div>

<div class="scroll-anchor" id="scrollAnchor">
    &nbsp;
</div>

<script type="text/template" id="scheduleItemBox">
    <div class="schedule-box-detail">
        Ambev | Carnaval 2017
    </div>
    <div class="schedule-box-title">[DEV] Realizar tarefa X de modo que seja possível atingir a meta que blablablabla xpto</div>
    <div class="schedule-box-commands">
        <a href="#" onclick="showActionBox('dueDateChangeBox'); return false;"> Alterar Prazo </a>
        <a href="#" onclick="showActionBox('taskForwardBox'); return false;"> Encaminhar </a>
        <a href="#" onclick="showActionBox('priorityChangeBox'); return false;">Inverter prioridades</a>
    </div>
    <div class="action-box" data-id="dueDateChangeBox">
        <table>
            <thead>
                <tr>
                    <th>D</th>
                    <th>S</th>
                    <th>T</th>
                    <th>Q</th>
                    <th>Q</th>
                    <th>S</th>
                    <th>S</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
            </tbody>
        </table>
        <div class="buttons-bar">
            <button onclick="closeActionBox()">Aplicar</button>
            <button onclick="closeActionBox()">Cancelar</button>
        </div>
    </div>
    <div class="action-box" data-id="taskForwardBox">
        <ul class="select-user">
            <li title="Disponível para este prazo">
                <span class="user-pic" style="background: url(https://taskrowprod1pics.blob.core.windows.net/company16274-30x30/2194055353.jpg)"></span><!-- /user-pic -->
                <span class="user-name">
                    Isac Newton<br />
                </span>
                <span class="userfunction-title">
                    Mesa função
                </span>
            </li>
            <li title="Disponível para este prazo">
                <span class="user-pic"></span><!-- /user-pic -->
                <span class="user-name">
                    Isabela R.<br />
                </span>
                <span class="userfunction-title">
                    Outra função, mesma área
                </span>
            </li>
            <li title="Selecione outro">
                <span>Selecione outro usuário</span><br />
                <input type="text" />
            </li>
        </ul>
        <div class="buttons-bar">
            <button onclick="closeActionBox()">Encaminhar</button>
            <button onclick="closeActionBox()">Cancelar</button>
        </div>
    </div>
    <div class="action-box" data-id="priorityChangeBox">
        <ul class="priority-change-list">
            <li>
                <span class="priority-item-text">Tarefa com o mesmo prazo</span>
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </li>
        </ul>
        <ul class="priority-change-list">
            <li>
                <span class="priority-item-text">Tarefa com o mesmo prazo</span>
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </li>
        </ul>
        <ul class="priority-change-list">
            <li>
                <span class="priority-item-text">Tarefa com o mesmo prazo</span>
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </li>
        </ul>
        <ul class="priority-change-list">
            <li>
                <span class="priority-item-text">Tarefa com o mesmo prazo</span>
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </li>
        </ul>
        <ul class="priority-change-list">
            <li>
                <span class="priority-item-text">Tarefa com o mesmo prazo</span>
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
            </li>
        </ul>
        <div class="buttons-bar">
            <button onclick="closeActionBox()">Aplicar</button>
            <button onclick="closeActionBox()">Cancelar</button>
        </div>
    </div>
</script>