<div class="col-xl-6 col-lg-7 col-md-12">
    <div class="card profile-header">
        <div class="body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <a>Godzniy przyjęć</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6 col-lg-7 col-md-12">
    <div class="card profile-header">
        <div class="body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <a>Zaplanowane wizyty</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6 col-lg-7 col-md-12">
    <div class="card profile-header">
        <div class="body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <a>Zrealizowane wizyty</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6 col-lg-7 col-md-12">
    <div class="card profile-header">
        <div class="body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <a>Pacjęci</a>
                </div>
            </div>
        </div>
    </div>
</div>