<section class="elementor-section elementor-top-section elementor-element elementor-element-40177ae0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="40177ae0" data-element_type="section">
	<div class="elementor-container elementor-column-gap-no">
		<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2828f573" data-id="2828f573" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-68afc23b elementor-widget elementor-widget-heading" data-id="68afc23b" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Nigdy nie jesteś sam! <br>Pamiętaj o tym!</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-48096891" data-id="48096891" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
				<div class="elementor-element elementor-element-44ce5982 elementor-widget elementor-widget-text-editor" data-id="44ce5982" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<style>							/*! elementor - v3.13.2 - 11-05-2023 */
							.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
								background-color: #69727d;
								color: #fff
							}

							.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
								color: #69727d;
								border: 3px solid;
								background-color: transparent
							}

							.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
								margin-top: 8px
							}

							.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
								width: 1em;
								height: 1em
							}

							.elementor-widget-text-editor .elementor-drop-cap {
								float: left;
								text-align: center;
								line-height: 1;
								font-size: 50px
							}

							.elementor-widget-text-editor .elementor-drop-cap-letter {
								display: inline-block
							}</style>				<p>Poradnia powstała z potrzeby udzielania wsparcia osobom,&nbsp;które podczas życiowych burz zagubiły widok na bezpieczny ląd, a miotające nimi&nbsp;sztormy codzienności, nie pozwoliły dotrzeć do bezpiecznej przystani.<br> To miejsce również dla tych, którym cień&nbsp; przeszłości przysłania piękną&nbsp;rzeczywistość teraźniejszości i przyszłości, dla osób, które na skutek trudnych&nbsp;doświadczeń, wycofały się z aktywnego życia, przestały wierzyć, porzuciły<br>marzenia….</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-e56ab06 elementor-widget elementor-widget-text-editor" data-id="e56ab06" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Obserwując statystyki dotyczące kondycji psychicznej i emocjonalnej dzieci, młodzieży i&nbsp;dorosłych w Powiecie Olsztyńskim, postanowiliśmy połączyć siły i stworzyć miejsce, którenazwaliśmy „Latarnią”. Jako grupa specjalistów: psychologów, psychoterapeutów,&nbsp;socjoterapeutów, trenerów psychoedukacji, profilaktyków, coachów– z różnych rejonów<br>Polski, reprezentujących różne nurty terapeutyczne – chętnie podzielimy się wiedzą,&nbsp;doświadczeniem, pomożemy w poszukiwaniu utraconych lądów, a podczas spotkań
						<br>obdarzymy strumieniami empatii…</p>
						<p>W naszej Poradni każdy będzie mógł rozpocząć proces stopniowego odzyskiwania&nbsp;równowagi życiowej w cyklu długoterminowych lub krótkoterminowym. Chcielibyśmy także<br>podjąć działania profilaktyczne skierowane do dzieci i młodzieży, osób dorosłych,&nbsp;seniorów, poprzez tworzenie tematycznych warsztatów, konferencji, webinariów, modułów<br>psychoedukacyjnych i innych form spotkań.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-41a203d elementor-widget elementor-widget-text-editor" data-id="41a203d" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Nigdy nie jesteś sam! Pamiętaj o tym!<br>Zapraszamy do kontaktu!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>