@{
    ViewData["Title"] = "Home Page";
}

<section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100" style="
          background-image: url('https://mdbootstrap.com/img/Photos/new-templates/psychologist/img1.jpg');
        ">
        <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
    </div>
    <!-- Intro -->
</section>