@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article id="post-434" class="post-434 page type-page status-publish hentry">
                <header class="entry-header">
                    <div class="inner-wrap"><h1 class="entry-title">Polityka prywatności</h1></div><!-- .inner-wrap -->
                </header><!-- .entry-header -->


                <div class="entry-content">

                    <p><strong>Kim jesteśmy? </strong></p>



                    <p>Administratorem Państwa danych osobowych jest Poradnia , <br> Warszawa. Dane kontaktowe: mail.<br><br><strong>Administracja danych osobowych: jakie dane zbieramy?</strong><br><br>Imię i nazwisko, adres e-mail, numer telefonu – dane te są niezbędne do umówienia się na wizytę. Wypełnienie formularza oznacza, że podane w nim dane osobowe będą przetwarzane w celu nawiązania kontaktu i umówienia na wizytę do specjalisty.<br><br><br><strong>W jakim celu zbierane są dane osobowe</strong>?</p>



                    <p>Podane dane przetwarzane będę w celu umówienia wizyty do specjalisty, odwołania lub zmiany terminu, prowadzenia niezbędnej dokumentacji zdrowotnej, rozliczeń, wystawiania i przechowywania faktur, kontaktu na drodze mailowej, sms-owej i telefonicznej.</p>



                    <p>Dane przechowywane są przez 2 lata od ostatniej wizyty lub ostatniego kontaktu z Poradnią.</p>



                    <p>Podanie danych kontaktowych, w tym numeru telefonu i adresu mailowego jest dobrowolne, jednak niezbędne do rejestracji wizyty i odpowiedzi na zapytanie.</p>



                    <p><br><strong>Ochrona danych osobowych</strong></p>



                    <p>Jako administrator danych osobowych stosujemy środki techniczne i organizacyjne zapewniające ochronę przetwarzanych danych zgodne z wymaganiami określonymi w obowiązujących przepisach o ochronie danych osobowych. Jednym z elementów systemu ochrony danych jest Certyfikat SSL, który szyfruje dane osobowe kluczem. Dostęp do danych osobowych mają tylko osoby do tego upoważnione: Poradnia Sentire oraz procedury wewnątrz firmowe spełniają wszelkie standardy ochrony danych osobowych.</p>



                    <p>Państwa dane mogą być przekazywane współpracownikom Poradni, w tym specjalistkom realizującym konsultacje i zabiegi, które również obowiązuje tajemnica zawodowa, osobom i instytucjom związanym z prowadzeniem księgowości Poradni tj. Bank Millennium, w którym znajduje się konto firmowe Poradni oraz Maria Kotowska Biuro Rachunkowe, Superwizorom, których również obowiązuje tajemnica zawodowa (bez ujawniania danych kontaktowych i informacji, które pozwoliły na rozpoznanie pacjenta), portalowi Znany Lekarz, z którego kalendarza korzystamy, organom sądowym i ścigania w sytuacji zwolnienia którejś z osób z tajemnicy zawodowej w przypadku toczącego się postępowania karnego.</p>



                    <p><br><strong>Zmiana polityki prywatności <br><br></strong>Poradnia Sentire zastrzega sobie prawo zmiany polityki prywatności, o ile będzie wymagać tego obowiązujące prawo, ulegną zmianie warunki technologiczne funkcjonowania naszej strony internetowej lub zmiana będzie wprowadzać standard wyższy od minimum wymaganego prawem.</p>



                    <p><br><strong>Państwa prawa<br></strong><br>Przysługuje Państwu prawo do wglądu do danych, ich sprostowania, usunięcia, złożenia<br>skargi do organu nadzorującego.<br><br>W przypadku jakichkolwiek pytań lub wątpliwości co do polityki prywatności i bezpieczeństwa Państwa danych osobowych, zachęcamy do kontaktu mailowego: W przypadku chęci aktualizacji lub usunięcia Państwa danych osobowych, prosimy o kontakt mailowy na: </p>



                    <p><strong>Polityka Cookies<br></strong><br>Pliki cookies (tak zwane „ciasteczka”) to Państwa dane osobowe, które pobierane są automatycznie po wejściu na stronę internetową Poradni Sentire. Pliki cookies stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w Państwa urządzeniu końcowym.</p>



                    <p>W ramach Poradni, stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w Państwa urządzeniu końcowym do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w Państwa urządzeniu końcowym przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Państwa.<br><br>W ramach Poradnia Sentire stosowane są następujące rodzaje plików cookies:</p>



                    <p>„niezbędne” pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach Poradnia Sentire; np. uwierzytelniające pliki cookies wykorzystywane do usług wymagających uwierzytelniania;</p>



                    <p>pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania w ramach Poradni Sentire;</p>



                    <p>„wydajnościowe” pliki cookies, umożliwiające zbieranie informacji o sposobie korzystania ze stron internetowych Poradni Sentire;</p>



                    <p>„funkcjonalne” pliki cookies, umożliwiające „zapamiętanie” wybranych przez Klienta ustawień i personalizację interfejsu Poradni Sentire;</p>



                    <p>„reklamowe” pliki cookies, umożliwiające dostarczanie Klientowi treści reklamowych bardziej dostosowanych do jego zainteresowań.</p>



                    <p><br>W wielu przypadkach oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików cookies.</p>



                    <p>W przypadku, gdy nie zgadzasz się na umieszczanie na swoim urządzeniu plików cookies, możesz zablokować ich umieszczenie odpowiednio konfigurując swoja przeglądarkę internetową. Niestety w przypadku zablokowania plików cookies pochodzących z poradniasentire.pl nie możemy zagwarantować poprawnego działania strony internetowej.</p>
                    <p><br><strong>W jakim celu wykorzystywane są Cookies?<br></strong><br>Administrator oraz Serwisy zewnętrzne wykorzystuje pliki Cookie do zbierania i przetwarzania danych statystycznych takich jak np. statystyki odwiedzin, statystyki urządzeń użytkowników czy statystyki zachowań użytkowników. Dane te zbierane są w celu analizy, ulepszania i optymalizacji procesu korzystania ze strony. Cookies wykorzystujemy także do Google Analytics oraz Google AdWords.<br><br>Google Analytics wykorzystuje technologię „cookies”, czyli plików tekstowych umieszczanych na Państwa urządzeniu, w celu umożliwienia przeanalizowania źródeł ruchu i sposobu, w jaki odwiedzający z niego korzystają. Google gromadzi na swoich serwerach dane pozyskane z umieszczania na urządzeniach plików cookies i korzysta z tych informacji w celu tworzenia raportów i świadczenia innych usług związanych z ruchem i korzystaniem z internetu.<br><br>Google AdWords wykorzystuje technologię „cookies”, czyli plików tekstowych umieszczanych na Państwa urządzeniu, w celu umożliwienia nam oceny poprawności i skuteczności prowadzonej działalności reklamowej z wykorzystaniem sieci AdWords.</p>
                </div><!-- .entry-content -->
            </article><!-- #post-434 -->
        </main><!-- #main -->
    </div>
</body>