/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
body {
    margin-top: 20px;
    background: #eee;
}

a {
    color: #f96332;
}

.m-t-5 {
    margin-top: 5px;
}

.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}

    .card .body {
        font-size: 14px;
        color: #424242;
        padding: 20px;
        font-weight: 400;
    }

.profile-page .profile-header {
    position: relative
}

    .profile-page .profile-header .profile-image img {
        border-radius: 50%;
        width: 140px;
        border: 3px solid #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }

    .profile-page .profile-header .social-icon a {
        margin: 0 5px
    }

.profile-page .profile-sub-header {
    min-height: 60px;
    width: 100%
}

    .profile-page .profile-sub-header ul.box-list {
        display: inline-table;
        table-layout: fixed;
        width: 100%;
        background: #eee
    }

        .profile-page .profile-sub-header ul.box-list li {
            border-right: 1px solid #e0e0e0;
            display: table-cell;
            list-style: none
        }

            .profile-page .profile-sub-header ul.box-list li:last-child {
                border-right: none
            }

            .profile-page .profile-sub-header ul.box-list li a {
                display: block;
                padding: 15px 0;
                color: #424242
            }

p, body, td, input, select, button {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
    font-size: 14px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

a {
    color: #1155a3;
}

.space {
    margin: 10px 0px 10px 0px;
}

.header {
    background: #003267;
    background: linear-gradient(to right, #011329 0%,#00639e 44%,#011329 100%);
    padding: 20px 10px;
    color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

    .header a {
        color: white;
    }

    .header h1 a {
        text-decoration: none;
    }

    .header h1 {
        padding: 0px;
        margin: 0px;
    }

.main {
    padding: 10px;
    margin-top: 10px;
}

.generated {
    color: #999;
}

    .generated a {
        color: #999;
    }

/* */

.area {
    /* border: 5px solid #ccc; */
    /* border-radius: 10px; */
    display: inline-block;
}

    .area a {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        /* background: linear-gradient(to bottom, #1155cc 0%, #1155a3 100%); */
        background: #3d85c6;
        text-decoration: none;
    }

        .area a span {
            border: 3px solid #fff;
            border-radius: 30px;
            padding: 10px 30px;
        }

nav {
    margin: 10px;
}

.columns {
    display: flex;
}

.column-main {
    flex-grow: 1;
}

.column-left {
    margin-right: 10px;
}

.toolbar {
    margin: 10px 0px;
}

    .toolbar > .toolbar-item:not(:last-child) {
        border-right: 1px solid #ccc;
    }

.toolbar-item {
    padding: 0px 10px;
}

.toolbar button {
    background-color: #f3f3f3;
    border: 1px solid #c0c0c0;
    color: #333;
    padding: 6px 12px;
    /* width: 80px; */
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
}

.view-toolbar button {
    display: inline-block;
    text-align: center;
    /* background-color: #3c78d8; */
    background-color: #3d85c6;
    border: 1px solid #1155cc;
    color: #fff;
    padding: 6px 20px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 1px;
    width: 80px;
    text-decoration: none;
}

.view-toolbar {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/* */

.month-time {
    display: inline-block;
    width: 55px;
    margin-right: 5px;
    text-align: right;
}

body .month_default_event_inner {
    border-left: 5px solid #6fa8dc;
}

body .month_default_cell_header {
    text-align: center;
}

    body .month_default_cell_header:hover {
        text-decoration: underline;
        cursor: pointer;
    }

body .calendar_default_event_inner {
    margin-bottom: 1px;
    padding-left: 8px;
}

body .calendar_default_event_bar,
body .calendar_default_event_bar_inner {
    width: 5px;
    margin-bottom: 1px;
}
/*nawbars*/
